@mixin full-background($backgroundUrl) {
  height: 100%;
  position: relative;
  top: 0px;
  background-color: $gray;
  background: url($backgroundUrl);
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  animation: color-me 2s normal forwards;
}

@mixin fade-out-bg {
  height: 100%;
  position: relative;
  top: 0px;
  background-color: $gray;
  animation: fade-out 2s normal forwards;
}

@mixin absolute-center($width: 0px, $height: 0px) {
  position: absolute;
  overflow: auto;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: $width;
  height: $height;
}

@mixin cover {
  height: calc(100vh - 60px);
  position: absolute;
  overflow: auto;
  width: 100%;
}

@mixin square($value) {
  width: $value;
  height: $value;
}

@keyframes color-me {
  from {filter: grayscale(100%);}
  to {filter: grayscale(0%);}
}
